@{
    ViewBag.Title = "MyMoney - Accounts";
}
@section scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.3.js")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/Scripts/jqxcore.js")
    @Scripts.Render("~/Scripts/jqxdata.js")
    @Scripts.Render("~/Scripts/jqxdate.js")
    @Scripts.Render("~/Scripts/jqxmenu.js")
    @Scripts.Render("~/Scripts/jqxbuttons.js")
    @Scripts.Render("~/Scripts/jqxdropdownlist.js")
    @Scripts.Render("~/Scripts/jqxdropdownbutton.js")
    @Scripts.Render("~/Scripts/jqxlistbox.js")
    @Scripts.Render("~/Scripts/jqxpanel.js")
    @Scripts.Render("~/Scripts/jqxscrollbar.js")
    @Scripts.Render("~/Scripts/jqxinput.js")
    @Scripts.Render("~/Scripts/jqxgrid.js")
    @Scripts.Render("~/Scripts/jqxgrid.aggregates.js")
    @Scripts.Render("~/Scripts/jqxgrid.columnsresize.js")
    @Scripts.Render("~/Scripts/jqxgrid.columnsreorder.js")
    @Scripts.Render("~/Scripts/jqxgrid.edit.js")
    @Scripts.Render("~/Scripts/jqxgrid.export.js")
    @Scripts.Render("~/Scripts/jqxgrid.filter.js")
    @Scripts.Render("~/Scripts/jqxgrid.grouping.js")
    @Scripts.Render("~/Scripts/jqxgrid.pager.js")
    @Scripts.Render("~/Scripts/jqxgrid.selection.js")
    @Scripts.Render("~/Scripts/jqxgrid.sort.js")
    @Scripts.Render("~/Scripts/jqxgrid.storage.js")

    <script type="text/javascript">
        columnNames = ["AccountID", "Name", "Bank", "Type", "Balance"];
        fieldNames = ["AccountID", "Name", "Bank", "Type", "Balance"];



        $(function () {
            function init() {
                $.getJSON('http://10.0.0.136/api/account/get', function (data) {
                    response = JSON.parse(data);
                    populateTable(response);
                });
            }

            init();

            function populateTable(response) {
                gridSource =
                    {
                        datatype: "array",
                        datafields: [
                            { name: fieldNames[0], type: 'number' },
                            { name: fieldNames[1], type: 'string' },
                            { name: fieldNames[2], type: 'string' },
                            { name: fieldNames[3], type: 'string' },
                            { name: fieldNames[4], type: 'number' },
                        ],
                        localdata: response.Accounts,
                        addrow: function (rowid, rowdata, position, commit) {
                            $.ajax({
                                url: "http://10.0.0.136/api/account/put",
                                method: 'PUT',
                                contentType: "application/json",
                                data: JSON.stringify(rowdata),
                                success: function (data) {
                                    rowdata.AccountID = Number(data);
                                    rowid = Number(data);
                                    commit(true);
                                },
                                error: function (data) {
                                    commit(false);
                                }
                            });
                            var loading = document.getElementById('addLoading');
                            loading.style.display = "none";
                            var modal = document.getElementById('myModal');
                            modal.style.display = "none";
                        }
                    };

                var mainGridDataAdapter = new $.jqx.dataAdapter(gridSource);
                var mainGrid = $('#mainGrid');
                showGrid(mainGrid, mainGridDataAdapter);
            }

            function showGrid(mainGrid, mainGridDataAdapter) {
                var pagerRenderer = function (body_name, goToPageSel, rowNumSel) {
                    var self = this;
                    var element = $("<div style='margin-right: 10px; margin-top: 5px; width: 100%; height: 100%;'></div>");
                    var datainfo = $(body_name).jqxGrid('getdatainformation');
                    var paginginfo = datainfo.paginginformation;

                    var goToPage = $("<div style='padding: 0px; float: right; width:70px; height:20px; '>Go to page:<div style='float: right; margin-right:10px; width: 30px; height: 16px; border:none; font-size:11px; padding: 0px;'><input id=" + goToPageSel + " type=\"text\" value=\"1\"/></div></div>");
                    goToPage.find('div').addClass('jqx-input jqx-input-classic');
                    goToPage.width(140);
                    goToPage.jqxInput();

                    var showRowsDiv = $("<div style='padding: 0px; float: right; width:100px; height:20px; '>Show rows:<div style='float: right; margin-right:10px; width: 30px; height: 16px; border:none; font-size:11px; padding: 0px;'><input id=" + rowNumSel + " type=\"text\" value=\"10\"/></div></div>");
                    showRowsDiv.find('div').addClass('jqx-input jqx-input-classic');
                    showRowsDiv.width(140);
                    showRowsDiv.jqxInput();

                    var leftButton = $("<div style='padding: 0px; float: right;'><div style='margin-left: 7px; width: 5px; height: 16px;'></div></div>");
                    leftButton.find('div').addClass('jqx-icon-arrow-left');
                    leftButton.width(20);
                    leftButton.jqxButton();

                    var rightButton = $("<div style='padding: 0px; margin: 0px 3px; float: right;'><div style='margin-left: 7px; width: 5px; height: 16px;'></div></div>");
                    rightButton.find('div').addClass('jqx-icon-arrow-right');
                    rightButton.width(20);
                    rightButton.jqxButton();

                    rightButton.appendTo(element);
                    leftButton.appendTo(element);

                    var label = $("<div style='font-size: 11px; margin: -3px 3px; float: right;'></div>");
                    label.text("1-" + paginginfo.pagesize + ' of ' + datainfo.rowscount);
                    label.appendTo(element);
                    showRowsDiv.appendTo(element);
                    goToPage.appendTo(element);

                    // update buttons states.
                    var handleStates = function (event, button, className, add) {
                        button.on(event, function () {
                            if (add == true) {
                                button.find('div').addClass(className);
                            }
                            else button.find('div').removeClass(className);
                        });
                    }

                    /*if (theme != '') {
                        handleStates('mousedown', rightButton, 'jqx-icon-arrow-right-selected-' + theme, true);
                        handleStates('mouseup', rightButton, 'jqx-icon-arrow-right-selected-' + theme, false);
                        handleStates('mousedown', leftButton, 'jqx-icon-arrow-left-selected-' + theme, true);
                        handleStates('mouseup', leftButton, 'jqx-icon-arrow-left-selected-' + theme, false);

                        handleStates('mouseenter', rightButton, 'jqx-icon-arrow-right-hover-' + theme, true);
                        handleStates('mouseleave', rightButton, 'jqx-icon-arrow-right-hover-' + theme, false);
                        handleStates('mouseenter', leftButton, 'jqx-icon-arrow-left-hover-' + theme, true);
                        handleStates('mouseleave', leftButton, 'jqx-icon-arrow-left-hover-' + theme, false);
                    }*/
                    var rowNumSelTag = '#' + rowNumSel;
                    var goToPageSelTag = '#' + goToPageSel;
                    rightButton.click(function () {
                        $(body_name).jqxGrid('gotonextpage');
                        var datainfo = $(body_name).jqxGrid('getdatainformation');
                        var paginginfo = datainfo.paginginformation;
                        $(goToPageSelTag).val(1 + paginginfo.pagenum);
                    });

                    leftButton.click(function () {
                        $(body_name).jqxGrid('gotoprevpage');
                        var datainfo = $(body_name).jqxGrid('getdatainformation');
                        var paginginfo = datainfo.paginginformation;
                        $(goToPageSelTag).val(1 + paginginfo.pagenum);
                    });

                    $(showRowsDiv).on('keypress', function (e) {
                        var index = parseInt($(rowNumSelTag).val());
                        if (!isNaN(index) && e.which == 13) {
                            $(body_name).jqxGrid('pagesize', index);
                            $(rowNumSelTag).val(index);
                        }
                    });

                    $(goToPage).on('keypress', function (e) {
                        var page = parseInt($(goToPageSelTag).val());
                        page = page - 1;
                        if (!isNaN(page) && e.which == 13) {
                            $(body_name).jqxGrid('gotopage', page);
                        }
                    });
                    $(body_name).on('pagechanged', function () {
                        var datainfo = $(body_name).jqxGrid('getdatainformation');
                        var paginginfo = datainfo.paginginformation;
                        label.text(1 + paginginfo.pagenum * paginginfo.pagesize + "-" + Math.min(datainfo.rowscount, (paginginfo.pagenum + 1) * paginginfo.pagesize) + ' of ' + datainfo.rowscount);
                        //$('#mainGrid').jqxGrid('autoresizecolumns');
                    });
                    return element;
                }

                var body_page = function () {
                    return (pagerRenderer("#mainGrid", "goToPageSel_body", "rowNumSel_body"));
                }

                mainGrid.jqxGrid(
                    {
                        width: '100%',
                        source: mainGridDataAdapter,
                        selectionmode: 'multiplerowsextended',
                        sortable: true,
                        editable: false,
                        autoheight: true,
                        autoloadstate: false,
                        autosavestate: false,
                        columnsresize: false,
                        columnsreorder: false,
                        showfilterrow: false,
                        enabletooltips: true,
                        filterable: false,
                        rowsheight: 20,
                        /*pageable: false,
                        pagerheight: 40,
                        pagesize: 10,
                        pagesizeoptions: ['10'],
                        pagerrenderer: body_page,*/
                        columnsheight: 19,
                        //ready: function () {
                        //    $('#mainGrid').jqxGrid('autoresizecolumns');
                        //},
                        columns: [
                            { text: columnNames[0], datafield: fieldNames[0], width: '8%', hidden: true, align: 'center', cellsalign: 'center' },
                            { text: columnNames[1], datafield: fieldNames[1], width: '23%', hidden: true, align: 'center', cellsalign: 'center' },
                            { text: columnNames[2], datafield: fieldNames[2], width: '23%', hidden: true, align: 'center', cellsalign: 'center' },
                            { text: columnNames[3], datafield: fieldNames[3], width: '23%', hidden: true, align: 'center', cellsalign: 'center' },
                            { text: columnNames[4], datafield: fieldNames[4], width: '23%', hidden: true, align: 'center', cellsalign: 'center', cellsformat: 'c2'},
                        ],

                    });

                for (var i = 0; i < fieldNames.length; i++) {
                    mainGrid.jqxGrid('showcolumn', fieldNames[i]);
                }
            }

        });

        function addRow() {
            var modal = document.getElementById('myModal');
            modal.style.display = "block";
            var span = document.getElementsByClassName("close")[0];
            span.onclick = function () {
                modal.style.display = "none";
            }
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }

        function submitRow() {
            $('#mainGrid').jqxGrid('addrow', null, { "AccountID": 0, "Name": $('#accountName')[0].value, "Bank": $('#accountBank')[0].value, "Type": $('#accountType')[0].value, "Balance": Number($('#accountBalance')[0].value) });
            $('#accountName')[0].value = "";
            $('#accountBank')[0].value = "";
            $('#accountType')[0].value = "";
            $('#accountBalance')[0].value = "";
            var loading = document.getElementById('addLoading');
            loading.style.display = "block";
        }
    </script>
}

<style>
    table {
        width: 100%;
    }

    td {
        text-align: center;
        vertical-align: middle;
        padding: 5px;
    }

    th {
        text-align: center;
        vertical-align: middle;
        padding: 5px;
    }

    #table-wrapper {
        position: relative;
    }

    #table-scroll {
        height: 300px;
        overflow: auto;
    }

    #table-wrapper table {
        width: 100%;
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 10% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 50%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>

<html>
<head>
    <title>MyMoney</title>
    <link rel="stylesheet" href="~/Styles/jqx.base.css" type="text/css" />
</head>

<body>
    <h1>Accounts</h1>
    <button id="addRowButton" onclick="addRow()" >Add Account</button>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <table id="newAccount">
                <tr>
                    <td colspan="2"><h2>New Account</h2><br /><br /></td>
                </tr>
                <tr>
                    <td>Account Name: </td>
                    <td><input type="text" id="accountName" /></td>
                </tr>
                <tr>
                    <td>Bank: </td>
                    <td><input type="text" id="accountBank" /></td>
                </tr>
                <tr>
                    <td>Type: </td>
                    <td><input type="text" id="accountType" /></td>
                </tr>
                <tr>
                    <td>Initial Balance: </td>
                    <td><input type="text" id="accountBalance" /></td>
                </tr>
                <tr>
                    <td colspan="2"><br /><button id="submitRowButton" onclick="submitRow()">Create Account</button></td>
                </tr>
                <tr>
                    <td colspan="2" style="display:none;" id="addLoading"><img src="~/Images/loading.gif" /></td>
                </tr>
            </table>
            <br/>
        </div>
    </div>
    <br/>
    <br/>
    <div id="mainGrid"></div>
</body>
</html>