@{
    ViewBag.Title = "Home Page";
}
@section scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.3.js")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/Scripts/MainScript1.0.0.js")
    @Scripts.Render("~/Scripts/jqxcore.js")
    @Scripts.Render("~/Scripts/jqxgrid.js")
    @Scripts.Render("~/Scripts/jqxgrid.aggregates.js")
    @Scripts.Render("~/Scripts/jqxgrid.columnsresize.js")
    @Scripts.Render("~/Scripts/jqxgrid.columnsreorder.js")
    @Scripts.Render("~/Scripts/jqxgrid.edit.js")
    @Scripts.Render("~/Scripts/jqxgrid.export.js")
    @Scripts.Render("~/Scripts/jqxgrid.filter.js")
    @Scripts.Render("~/Scripts/jqxgrid.grouping.js")
    @Scripts.Render("~/Scripts/jqxgrid.pager.js")
    @Scripts.Render("~/Scripts/jqxgrid.selection.js")
    @Scripts.Render("~/Scripts/jqxgrid.sort.js")
    @Scripts.Render("~/Scripts/jqxgrid.storage.js")
}

<style>
    table {
        width: 100%;
    }

    td {
        text-align: center;
        vertical-align: middle;
        padding: 5px;
    }

    th {
        text-align: center;
        vertical-align: middle;
        padding: 5px;
    }

    #table-wrapper {
        position: relative;
    }

    #table-scroll {
        height: 300px;
        overflow: auto;
    }

    #table-wrapper table {
        width: 100%;
    }
</style>

<html>
<head>
    <title>Homepage</title>
    <script type="text/javascript">
        columnNames = ["Action", "Entity Type", "Criterion", "Operator", "Units", "Value", "Lower Bound", "Upper Bound", "Coordinate System"];
    </script>
</head>
<body>
    <div id="mainGrid">

    </div>
    <h1>Account Activity</h1>
    <table border="1">
        <thead>
            <tr><th width="10%">ID</th><th width="20%">Account</th><th width="40%">Description</th><th width="20%">Date</th></tr>
        </thead>
    </table>
    <div id="infoTable">
        <div id="table-wrapper">
            <div id="table-scroll">
                <table border="1">
                    <tbody>
                        <tr class="loading"><td colspan="4">loading...</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>